/*{
    border: 2px solid #ff0000;
    
} */

/* * {
    전체에 적용
} */

/* 폰트 */
@font-face{
    font-family: MinSans-Bold;
    src:url('MinSans-Bold.otf')
}

@font-face{
    font-family: MinSans-light;
    src:url('MinSans-Light.otf')
}

@font-face {
    font-family: Gmarket;
    src: url(GmarketSansTTFLight.ttf);
}

@font-face {
    font-family: GmarketS;
    src: url(GmarketSansTTFMedium.ttf);
}
/* 폰트 */



/* 기본 태그 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("tttt.png");
}
a {
    color: #000000;
    text-decoration: none;
}



/* 라인 */
.hline {
    position: absolute;
    width: 100%;
    border-top-style: solid;
    color: black;
    /*margin-left: 55px;*/
}
.thick {
    border-top-width: 4px;
}
.thin {
    border-top-width: 1.6px;
}



/* 상단바 */
#header{
    position: fixed;
    width: 80%;
    height: 100px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* 단락내려가는거 방지해주는 친구 */
    gap: 20px;
    z-index: 2000;
}
#header p:nth-of-type(1) {
    font-family: MinSans-Bold;
    font-size: 27px;
}
#header p:nth-of-type(2) {
    font-family: MinSans-light;
    font-size: 25px;
}
#header p:nth-of-type(3) {
    font-family: MinSans-light;
    font-size: 25px;
}



/* 바디 - #maincontainer 안에 #section1, #footer */
#maincontainer {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #3F82E6;
}


/* 안녕하세요 디자이너 김예현입니다. */
#section1 {
    position: relative;
    width: 100%;
    height: 800px;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1 h1 {
    font-family: Gmarket;
    font-size: 70px;
    text-align: center;
}

.hightlight {
    font-family: GmarketS;
    font-size: 70px;
    color: #3F82E6
}
/* 안녕하세요 디자이너 김예현입니다. */



/* 하단바 */
#footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* 단락내려가는거 방지해주는 친구 */
    gap: 100px;
    z-index: 2000;
}

#footer a {
    font-family: MinSans-light;
    font-size: 25px;
}
#footer a:hover {
    text-decoration: underline;
    font-family: MinSans-Bold;
}
/* 하단바 */